body {
  background:#AFDACE;
}

* {
    box-sizing: border-box;
}

header img {
    border: solid;
    justify-content: center;
}

br {
  background-color: #F6EDD2
}

h3 {
  margin:2px,0,3,0;
  font-family:verdana;
  background-color: #F6EDD2;
}

p {
  color:black;
  margin:1px;
  font-family: Verdana;
  background-color: #F6EDD2;
}

main {
  background: #F6EDD2;
  border:solid;
  border-color: darkgrey;
  margin:15px;
  width:62%;
  padding:10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.item {
  width:98%;
  margin:3px;
  background-color: #F6EDD2;
}
.item img {
  width:24%;
  float:right;
  margin:4px;
  justify-content: space-around; 
}

#wrap {
  width:auto;
  
}

.left {
  width:auto;
  background-color:#438368;
  margin:5px;
  padding:10px;
  height:344px;
  float:left;
  border:solid;
  border-color: darkgrey;
}


.right {
  width: 582px;
  background-color: #438368;
  height:344px;
  float:right;
  margin:5px;
  padding:10px;
  border:solid;
  border-color: darkgrey;
  font-style:italic;
  font-size:14px;
}

.right p {
  background-color: #438368;
  color:white;
}

footer {
    clear: both;
}

footer {
  background-color:#344759 ;
  width:1019.56px;
  margin:15px;
  border:solid;
  border-color: darkgrey;
}