body {
  background: #E5D4CE;
}

* {
    box-sizing: border-box;
}

header img {
    border: solid;
}

h3 {
  margin:2px,0,5,0;
}

p {
  color:black;
  margin:1px;
}


main {
  background: white;
  border:solid;
  border-color: darkgrey;
  margin:15px;
  width:62%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.item {
  width:98%;
  margin:5px;
  background-color: white;
}
.item img {
  width:18%;
}






#map {
background-color: white;
  padding: 10px;
  border:solid;
  border-color: darkgrey;
}

iframe #map {
  float:left;
}

p #map {
  float:right;
}
footer {
  background-color: White;
  width:100%;
  margin:15px;
  border:solid;
  border-color: darkgrey;
}
